<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- AJAX servlets. -->

  <!-- Servlet mappings -->
  
  <!--  AJAX servlet mappings. --><!--Game Servlet--><servlet>
  	<servlet-name>GameServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.tbagproj.servlet.GameServlet</servlet-class>
</servlet><!--GameServlet mappings-->
	<servlet-mapping>
		<servlet-name>GameServlet</servlet-name>
		<url-pattern>/gameView</url-pattern>
	</servlet-mapping>
</web-app>
